.fullWidthHomeBG {
    padding: 0 0 80px 0;
}

/* HOME PAGE */ 
.fullWidthHomeBG {
    padding: 0;
    margin: 0;
  }
  
  .fullWidthHome {
      background-image: url(../img/chickenFull.png);
      background-repeat: no-repeat;
      background-size: cover;
      height : 80vh;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
  }
  
  .centred {width: 80vw;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 80px; 
  }
  
  .imgPictureHome {
    padding: 20px 0;
  }
  
  .actualiteHome {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  
  .rondJaune {
      position: absolute;
      left: -150px;
      z-index: -1;
  }

  /* HOME */
  .actualiteHome {
    flex-direction: column;
  }
  

/* //////////////// QUI NOUS SOMMES ////////////////// */

.who {  
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 80vw; 
    margin: auto; 
  }
  
  .who h2{
      padding: 20px 0 20px 0;
      text-align: center;
  }
  
  /* philosophie */
  .philo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; 
      padding : 20px;  
  }
  .philo > p {
      width: 350px;
  }
  
  .philo > img {
      animation: roundpink 5s ease 0s infinite normal none;
      z-index: 0; 
      position: absolute; 
  }


  @keyframes roundpink {
      0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
      }
    
      10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
      }
    
      17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
      }
    
      33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
      }
    
      45% {
        animation-timing-function: ease-out;
        transform: scale(1);
      }
    }
  
  .philo > h2, p {
      z-index: 2;
  }
  
  /* mettez-vous au vert */
  .green {
      border: solid 20px;
      border-color: var(--third-color);
      text-align: center; 
      padding : 20px;
      overflow: scroll; 
  }
  .green > p{
      text-align: justify;
      padding-bottom: 10px;
  
  }
  
  .philo, .green{
      height: 450px; 
      width: 450px;
  }

  .philo >h2, .green>h2{
    font-size: 20px;  
  }
  
  /* activités */

  .farm {
    margin : 50px 0; 
  }
  article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 35px;
      align-items: center;
      justify-items: center;
      padding-top: 20px;
  }
  .farmer { grid-area: 1 / 1 / 2 / 2; 
  }
  .chicken { grid-area: 1 / 2 / 2 / 3; 
  }
  .heart { grid-area: 2 / 1 / 3 / 3; 
  }
  .bar { grid-area: 3 / 1 / 4 / 2;
  }
  .shop { grid-area: 3 / 2 / 4 / 3; 
  }
  article > div {
      display: flex; 
      flex-direction: column;
      align-items: center;
      padding: 10px;  
  }

  article img {
    transition: transform .1s; 
    padding: 20px; 
  }

  article img:hover{
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }

  /* //////////////// FIN QUI NOUS SOMMES ////////////////// */
  
/* MEDIA QUERIES QUI NOUS SOMMES */
@media screen and (min-width: 651px) {
    .who {
        display: flex;
        justify-content: center ;  
    }
    .philogreen {
        display:flex; 
        justify-content:center ;  
        align-items: center;  
    }
    .philo { grid-area: 1 / 1 / 2 / 2; 
             border: solid 20px;
             border-color: var(--second-color )
            }
  
    .green { grid-area: 1 / 2 / 2 / 3; 
              padding: 10px; 
            }
    .farm { grid-area: 2 / 1 / 3 / 3;}
    
    .green >h2{
      padding-top: 15px;
    }
    article {
        display: flex; 
        justify-content: space-around;
        flex-flow: row wrap; 
    }
     
}

/* FIN MEDIA QUERIES QUI NOUS SOMMES */   