/* Boutique */
/* les oeufs et les poules */
.letitre {
    text-align: center;   
}

.lesoeufs {
    display: flex;
    flex-direction: row;
    }
    
.imgoeufs {
    width: 500px;
    border-radius: 0px 15px 15px 0px;
    justify-content: flex-start;
    }
    
.texteoeuf {
    padding: 20px;
    }
    
.boutonmenu1 {
    background-color: rgb(238, 235, 52);
    color:blueviolet;
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:20px;
    font-size: 18px;
    }
    
.boutonmenu1:hover {
    background-color: #3D44D9;
    }

a:hover{
    background-color: #3D44D9;
    }
    
    .dropdownPack {
    position: relative;
    margin-bottom: 40px;
    }
    
    .dropdownPack-child {
    display: none;
    background-color: rgb(238, 235, 52);
    min-width: 50px;
    }
    
    .dropdownPack-child a {
    color:blueviolet;
    padding:10px;
    text-decoration: none;
    display: block;
    }
    
    .dropdownPack:hover .dropdownPack-child {
    display: block;
    }
    
        .le-prix {
        margin: 0px 0px 20px 0px;
        font-size: 30px;
        }
        
        .addToCarte button{
        color:blueviolet;
        width: 120px;
        height: 40px;
        background-color: #3D44D9;
        border-radius: 15px;
        border: 0px;
        }
      hr{
         width: 100%;
      }
      i{
         position: fixed;
         right: 0;
         top: 50%;
         width: 2em;
         margin-top: -2.5em;
         font-size: xxx-large;
         color: blue;
          
      }
    /* la boutique */
    .articles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 40px;
        flex-wrap: wrap;
        text-align: center;
        color:blueviolet;
     }
     .lestitres{
       margin-top: 40px;
       font-size: 2em;
     }
    
     .imgposterpoules{
        width: 550px;
        height: 550px;
     }
     .imgt-shirt{
        width: 550px;
        height: 550px;
     }
     .imgfigurines{
        width: 550px;
        height: 550px;
     }
  @media screen and (max-width: 650px) {

   i{
      font-size: xx-large;
   }
    
     .imgoeufs{
       max-width: 200px;
     }
     .letitre{
    
       margin: 20px;
     }
         

    .partoeufs {
    padding:  0px ;
    margin: 20px 20px 20px 0px;
    }

    .partpoules {
    padding:  0px ;
    margin: 20px 20px 20px 0px;
    }

    .imgposterpoules{
      width: 90%;
      height: auto;
      
   }
   .imgt-shirt{
      width: 90%;
      height: auto;
     
   }
   .imgfigurines{
      width: 90%;
      height: auto;
      
   }

    .texteoeuf {
    padding: 10px;  
    }


    article > .btn {
      width: 100px;
      height: 30px;
    }
    .lesoeufs {
      flex-direction: column;
      }
  }