/* Boutique */
/* les oeufs et les poules */
.letitre {
    text-align: center;   
}

.lesoeufs {
    display: flex;
    flex-direction: row;
    }
    
    .divDesPoules {
      display: flex;
      flex-direction: row-reverse;
    }
.imgoeufs {
    min-width: 500px;
    border-radius: 50%;
    justify-content: flex-start;
    }
    
.texteoeufs {
   margin: 20px 50px 20px 50px;
   padding-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.boutonmenu1 {
    background-color: rgb(238, 235, 52);
    color:var(--third-color)
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:20px;
    font-size: 18px;
    }
    
.boutonmenu1:hover {
    background-color: #3D44D9;
    }

a:hover{
    background-color: #3D44D9;
    }
    
    .dropdownPack {
    position: relative;
    }
    
    .dropdownPack-child {
    display: none;
    background-color: rgb(238, 235, 52);
    min-width: 50px;
    }
    
    .dropdownPack-child a {
    color:blueviolet;
    padding:10px;
    text-decoration: none;
    display: block;
    }
    
    .dropdownPack:hover .dropdownPack-child {
    display: block;
    }
    
        .le-prix {
        margin: 0px 0px 20px 0px;
        font-size: 30px;
        }
        
        .addToCarte button{
        color:var(--third-color)
        width: 120px;
        height: 40px;
        background-color: #3D44D9;
        border-radius: 15px;
        border: 0px;
        }
      hr{
         width: 100%;
      }
      i{
         position: fixed;
         right: 0;
         top: 50%;
         width: 2em;
         margin-top: -2.5em;
         font-size: xxx-large;
         color: var(--third-color)
          
      }
    /* la boutique */
    .articles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin:10px;
        flex-wrap: wrap;
      }
   
.lestitres{
   margin: 40px 40px 40px 40px;
}
    
     .imgposterpoules{
      max-width: 450px;
     }
     .imgt-shirt{
      max-width: 450px;
     }
     .imgfigurines{
      max-width: 450px;
     }

     .imgGoodies {


      max-height: 450px;
     }

/* //////////////////////////////////////////// */
/* /////////// DEBUT MEDIA QUERIES /////////// */
/* //////////////////////////////////////////// */
     
  @media screen and (max-width: 650px) {

   i{
      font-size: xx-large;
   }
    
     .imgoeufs{
       display: none;
       max-width: 200px;
     }
     .letitre{
    
       margin: 20px;
     }
         

    .partoeufs {
    padding:  0px ;
    }

    .partpoules {
    padding:  0px ;
    }

    .imgposterpoules{
      width: 90%;
      height: auto;
      
   }
   .imgt-shirt{
      width: 90%;
      height: auto;
     
   }
   .imgfigurines{
      width: 90%;
      height: auto;
      
   }

    .texteoeuf {
    padding: 10px;  
    }


    article > .btn {
      width: 100px;
      height: 30px;
    }
    .lesoeufs {
      flex-direction: column;
      }
    .addToCart {
      display: flex;
      justify-content: center;
    }
    .lestitres {

      margin: 20px 20px 20px 20px;
    }
.texteoeufs {

  margin: 0px;
}

.dropdownPack {
  position: relative;
  display: flex;
  flex-direction: column;
}

.le-prix {
  margin: 0px;
  font-size: 30px;
}


  }     
/* ///////////////////////////////////////////// */
/* ///////////// FIN MEDIA QUERIES ///////////// */
/* ///////////////////////////////////////////// */
