.contactTitle {
    display: flex;
    justify-content: center;
    margin-top: 4%;
  }

  h5 {
    text-align: center;
    margin-top: 4%;
  }

  #contact {
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  .poules-contact {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
  }

  form {
    margin: 0 auto;
    width: 150px;
    padding-top: 20px;
  }

  label {
    line-height: 3;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .mapContact {
    border-radius: 10px;
    box-shadow: 0px 2px 2px black;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }