.contactTitle {
    display: flex;
    justify-content: center;
    margin-top: 4%;
  }

  h5 {
    text-align: center;
    margin-top: 4%;
  }

  #contact {
    padding: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }

  .poules-contact {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
  }

  form {
    display: flex;
    margin: 0 auto;
    min-width: 150px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}
  }

  label {
    line-height: 3;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  .mapContact {
    border-radius: 10px;
    box-shadow: 0px 2px 2px black;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  #message {

min-width: 300px;
max-width: 500px;
min-height: 100px;

  }

  #adresseMail {

min-width: 200px;
max-width: 250px;

  }

#btnEnvoyer {

  margin: 20px;

}

.mapContact {

min-width: 500px;

}

select {
  font-family: var(--font-content);
  padding: 5px;
  margin: 20px 0px 20px 0px;
  min-width: 300px;
  max-width: 200px;
  height: 40px;
  align-self: center;  
  }


  .boiteRose {

    position: absolute;
    height: 400px;
    width: 400px;
    right: 0px;
    top: 175px;
    z-index: -1;
    overflow: hidden;
  
  }
  
  .rondRose {
    height: 400px;
    width: 400px;
    z-index: -1;
    background-color: var(--second-color);
    border-radius: 50%;
    overflow: hidden;
    bottom: 0; 
    transform: translate(60%);
  }
  
  
  .rondJaune {
    position: absolute;
    bottom: -350px;
    left: -400px;
    z-index: -1;
    overflow: hidden;
  }
  
  
  
  
  .boiteRose2 {
    position: absolute;
    height: 500px;
    width: 500px;
    right: 0px;
    top: 1499px;
    z-index: -1;
    overflow-x: hidden;
  }
  
  .rondRose2 {
    position: absolute;
    height: 400px;
    width: 400px;
    right: 0px;
    top: 20px;
    z-index: -1;
    background-color: var(--second-color);
    border-radius: 50%;
    transform: translate(10%, 10%);
  }
  
  .boiteRose3 {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 150px;
    top: 1600px;
    z-index: -1;
    overflow-x: hidden;
  }
  
  .rondRose3 {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--second-color);
    border-radius: 50%;
    transform: translate(0%, 0%);
  }
  
  
  
  .boiteJaune2 {
    position: absolute;
    height: 750px;
    width: 500px;
    right: 0px;
    top: 1440px;
    z-index: -1;
    overflow-x: hidden;
   
  
  }
  
  .rondJaune2 {
    position: absolute;
    height: 500px;
    width: 500px;
    right: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translate(50%, 0%);
  }
  
  .boiteJaune3 {
    position: absolute;
    height: 300px;
    width: 300px;
    right: 500px;
    top: 800px;
    z-index: -1;
    overflow-x: hidden;
   
  
  }
  
  .rondJaune3 {
    position: absolute;
    height: 300px;
    width: 300px;
    right: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translate(0%, 0%);
  }
  
  
  .boiteRose4 {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 400px;
    top: 300px;
    z-index: -1;
    overflow-x: hidden;
  }
  
  .rondRose4 {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--second-color);
    border-radius: 50%;
    transform: translate(0%, 0%);
  }


@media screen and (max-width: 650px) { 

  .mapContact {

    min-width: 0px;
    margin: 0px;
    padding: 0px;
    
    }

}


.boiteRose {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 0px;
  top: 175px;
  z-index: -1;
  overflow: hidden;
  }
  
  .rondRose {
  height: 200px;
  width: 200px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
  overflow: hidden;
  bottom: 0; 
  right: -150px;
  }
  
  .rondJaune {
  position: absolute;
  bottom: -350px;
  left: -400px;
  z-index: -1;
  overflow: hidden;
  }
  
  .boiteRose2 {
  position: absolute;
  height: 400px;
  width: 400px;
  right: 0px;
  top: 1499px;
  z-index: -1;
  overflow-x: hidden;
  }
  
  .rondRose2 {
  position: absolute;
  height: 200px;
  width: 200px;
  right: -50px;
  top: 20px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
  }
  
  .boiteJaune2 {
  position: absolute;
  height: 500px;
  width: 500px;
  right: 0px;
  top: 1440px;
  z-index: -1;
  overflow: hidden;
  }
  
  .rondJaune2 {
  position: absolute;
  height: 500px;
  width: 500px;
  right: -410px;
  top: 0px;
  z-index: -1;
  background-color: var(--primary-color);
  border-radius: 50%;
  }
  
  .boiteJaune3 {
  display: none;
  }
  
  .rondJaune3 {
  display: none;
  }
  
  .boiteRose3 {
  display: none;
  }
  
  .rondRose3 {
  display: none;
  }
  
  .boiteRose4 {
  display: none;
  }
  
  .rondRose4 {
  display