

.laPrez {
    display: block;
    padding: 50px 20px 50px 20px;
    width: 80vw;
    margin: auto; 
  }
  
  .laPrezMobile {
    display: none;
    padding: 50px 20px 50px 20px;
  }
    
  .laPrez > p {
    justify-content: flex-start;
  }
    
  .laFormule1 {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto; 
  }
    
  .pouleFormule1 {
    width: 500px;
    border-radius: 50%;
    justify-content: flex-start;
  }
    
  .texteFormule1 {
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }
    
  .descriFormule1 > p {
    justify-content: flex-start;
    padding-left: 0px;
  }

  .titreDescriFormule {
    display: flex;
    justify-content: center;
    font-weight: bold ;
  }
  
  .descriFormule1Mobile {
    justify-content: flex-start;
    display: none;
  }
    
  select {
    font-family: var(--font-content);padding: 5px;
    margin: 20px 0px 20px 0px;
    width: 291px;
    height: 40px;
    background-color: white;
  }
    
  .textareaNomPoule {
    display: flex;
    flex-direction: row;
  }
    
  .textareaNomPoule input {
    width: 291px;
    height: 40px;
    resize: none;
    justify-content: flex-start;
    font-family: var(--font-content);
    padding: 10px;
  }
    
.textareaNomPoule button {
width: 100px;
height: 40px;
justify-content: flex-start;
font-family: var(--font-content);
}

.btnVerif {
border-radius: 0px 25px 25px 0px;
}

.btnEtTexte {
display: flex;
}

.merciParrainage {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}  

.textareaMailParraiange input {
  width: 291px;
  height: 40px;
  resize: none;
  justify-content: flex-start;
  font-family: var(--font-content);
  padding: 10px;
  margin: 20px 0px 0px 0px;
}
    
  .lePrix {
    margin: 20px 0px 20px 0px;
    font-size: 30px;
  }
    
  .lePrix1 > p {
    justify-content: flex-start;
  }
    
  .addToCart button{
    border-radius: 25px;
    padding: 10px;
    border: solid 3px var(--third-color);
    background: var(--third-color);
    color: rgb(235, 235, 235);
    font: var(--font-titre);
  }
    
  .addToCartformule1Mobile{
    display: none;
  }
  
  .addToCartformule2 {
    display: flex;
    justify-content: flex-end;   
  }
  
  .laFormule2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 0px 0px 0px;
    width: 80vw;
    margin: auto; 
    align-items: center;
  }
    
  .pouleFormule2 {
    width: 500px;
    border-radius: 50%;
    justify-content: flex-start;
  }
  
  .texteFormule2 {
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;

    justify-content: flex-start;
  
  }
  
  .texteFormule2 a{
  display: flex;
  justify-content: flex-end;
  }
  
  
  .descriFormule2 > p{
    justify-content: flex-start;
  }
  
  .descriFormule2Mobile{
    display: none;
  }
  
  /* .plusMoins {
    margin: 50px 0px 50px 0px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .plusMoins textarea {
    width: 75px;
    height: 50px;
    resize: none;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    overflow:hidden;
    rows:1; 
    disabled:true;
  }
  
  .plusMoins button {
    width: 50px;
    height: 50px;
    font-size: 30px;
  } */
  
  .lePrix2 > p {
    display: flex;
    justify-content: flex-end;
  }
  
  .addToCartformule2 {
    display: flex;
    justify-content: flex-end;   
  }
  


  .titleParrainages {
    text-align: center;
    margin: 50px;
  }
  
  .filleulesMalheureusement {
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    margin: 150px;
  }
  
  .medailles {
    display: flex;
    flex: row;
    padding: 50px;
    min-height: 800px;
    align-content: center;
    justify-content: space-evenly;
  }
  .medailleSolo {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    box-shadow: 5px 10px 5px lightgrey;
    margin: 10px 20px 10px 20px;
  }
  
  .medailles img {
    width: 150px;
  }  
  
  .medailleTxt > p {
    font-size: 30px;
    text-align: center;
  }
    
  .medailleComment > p {
      padding: 20px;
  }
  
  .medailleOr {
    align-self: flex-start;
  }
  
  .medailleArgent {
    align-self: center;
  }
  
  .medailleBronze  {
    align-self: flex-end;
  }


.rondJaune {
  position: absolute;
  bottom: -350px;
  left: -400px;
  z-index: -1;
}

/* .rondRose {
  position: absolute;
  height: 400px;
  width: 400px;
  bottom: 350px;
  right: -250px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
}


.rondRose2 {
  position: absolute;
  height: 400px;
  width: 400px;
  right: -50px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
}

 .rondJaune2 {
  position: absolute;
  height: 500px;
  width: 500px;
  right: -250px;
  top: 1700px;
  z-index: -1;
  background-color: var(--primary-color);
  border-radius: 50%;
} */





.boiteRose {

  position: absolute;
  height: 400px;
  width: 400px;
  right: 0px;
  top: 175px;
  z-index: -1;
  overflow: hidden;

}

.rondRose {
  height: 400px;
  width: 400px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
  overflow: hidden;
  bottom: 0; 
  transform: translate(60%);
}


.rondJaune {
  position: absolute;
  bottom: -350px;
  left: -400px;
  z-index: -1;
  overflow: hidden;
}




.boiteRose2 {
  position: absolute;
  height: 500px;
  width: 500px;
  right: 0px;
  top: 1499px;
  z-index: -1;
  overflow-x: hidden;
}

.rondRose2 {
  position: absolute;
  height: 400px;
  width: 400px;
  right: 0px;
  top: 20px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
  transform: translate(10%, 10%);
}

.boiteRose3 {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 150px;
  top: 1600px;
  z-index: -1;
  overflow-x: hidden;
}

.rondRose3 {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
  transform: translate(0%, 0%);
}



.boiteJaune2 {
  position: absolute;
  height: 750px;
  width: 500px;
  right: 0px;
  top: 1440px;
  z-index: -1;
  overflow-x: hidden;
 

}

.rondJaune2 {
  position: absolute;
  height: 500px;
  width: 500px;
  right: 0px;
  top: 0px;
  z-index: -1;
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translate(50%, 0%);
}

.boiteJaune3 {
  position: absolute;
  height: 300px;
  width: 300px;
  right: 500px;
  top: 800px;
  z-index: -1;
  overflow-x: hidden;
 

}

.rondJaune3 {
  position: absolute;
  height: 300px;
  width: 300px;
  right: 0px;
  top: 0px;
  z-index: -1;
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translate(0%, 0%);
}


.boiteRose4 {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 400px;
  top: 300px;
  z-index: -1;
  overflow-x: hidden;
}

.rondRose4 {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: var(--second-color);
  border-radius: 50%;
  transform: translate(0%, 0%);
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

@media screen and (max-width: 650px) { 

html, body {
overflow-x: hidden;
/*   width: ; */
/*   min-width: 375px; */  
max-width: 100vw;
}

.laPrez {
display: none;
}

.laPrezMobile {
justify-content: center;
display: flex;
padding: 20px 20px 00px 20px;
}

.laFormule1 {
justify-content: center;
padding-top: 20px;

}
.texteFormule1 {
display: flex;
flex-direction: column;
justify-content: space-between;
margin:  20px 0px 20px 0px;
}

.descriFormule1 {
display: none;
}

.descriFormule1Mobile {
justify-content: flex-start;
display: block;
}

.lePrix {
margin: 5px 0px 5px 0px;
font-size: 30px;
}

.lePrix1 > p {
display: flex;
justify-content: flex-end;
}

.addToCartformule1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
}

.btnEtTexte {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

#btnParrainer {

margin: 0px 0px 10px 0px;

}

.merciParrainage  {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px;
}

..merciAdopter  {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px;
}

.imgPouleParrainage {
display:none;
}

select {
font-family: var(--font-content);
padding: 5px;
margin: 20px 0px 20px 0px;
max-width: 200px;
height: 40px;
align-self: center;  
}

.textareaNomPoule {
display: flex;
flex-direction: row;
}

.textareaNomPoule input {
height: 40px;
resize: none;
justify-content: flex-start;
font-family: var(--font-content);
align-self: center;
}

.textareaNomPoule button {
width: 100px;
height: 40px;
justify-content: flex-start;
align-self: center;
font-family: var(--font-content);
}





.textareaMailParraiange input {
width: 100%;
height: 40px;
resize: none;
justify-content: flex-start;
font-family: var(--font-content);
padding: 10px;
margin: 20px 0px 0px 0px;
}

.descriFormule2Mobile > p{
display: flex;
justify-content: center;
}

.descriFormule2Mobile {
display: block;
}

.laFormule2 {
display: flex;
flex-direction: row-reverse;
margin: 30px 0px 0px 0px;
width: 80vw;
margin: auto;
align-items: center;
}

.descriFormule2{
display: none;
}

.texteFormule2 {
margin: 10px 0px 0px 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
/* margin: 20px;
 */}

.texteFormule2 a{
display: flex;
justify-content: flex-start;
}

.addToCartformule3 {
margin-top: 20px;
}

#btnAdopter {

  margin:  20px 0px 20px 0px;

}

.filleulesMalheureusement {
margin: 50px 50px 50px 50px;
}

.medailles {
display: flex;
flex-direction: row;
padding: 0px 20px 0px 20px;
min-height: 200px;
align-content: center;
justify-content: space-evenly;
}

.medailles img {
width: 50px;
}

.medailleTxt > p {
font-size: 18px;
text-align: center;
padding: 0px 10px 10px 10px;
}

.medailleSolo {
display: flex;
flex-direction: column;
max-width: 150px;
align-items: center;
box-shadow: 5px 5px 5px lightgrey;
margin: 10px 20px 10px 20px;
}

.medailleSolo img {
display: flex;
flex-direction: column;
max-width: 100px;
align-items: center;
margin: 10px 20px 10px 20px;
}

.medailleComment {
display: none;
}

.medailleOr {
align-self:baseline;
}

.medailleArgent {
align-self:baseline;
}

.medailleBronze  {
align-self:baseline;
}

.boiteRose {
position: absolute;
height: 200px;
width: 200px;
right: 0px;
top: 175px;
z-index: -1;
overflow: hidden;
}

.rondRose {
height: 200px;
width: 200px;
z-index: -1;
background-color: var(--second-color);
border-radius: 50%;
overflow: hidden;
bottom: 0; 
right: -150px;
}

.rondJaune {
position: absolute;
bottom: -350px;
left: -400px;
z-index: -1;
overflow: hidden;
}

.boiteRose2 {
position: absolute;
height: 400px;
width: 400px;
right: 0px;
top: 1499px;
z-index: -1;
overflow-x: hidden;
}

.rondRose2 {
position: absolute;
height: 200px;
width: 200px;
right: -50px;
top: 20px;
z-index: -1;
background-color: var(--second-color);
border-radius: 50%;
}

.boiteJaune2 {
position: absolute;
height: 500px;
width: 500px;
right: 0px;
top: 1440px;
z-index: -1;
overflow: hidden;
}

.rondJaune2 {
position: absolute;
height: 500px;
width: 500px;
right: -410px;
top: 0px;
z-index: -1;
background-color: var(--primary-color);
border-radius: 50%;
}

.boiteJaune3 {
display: none;
}

.rondJaune3 {
display: none;
}

.boiteRose3 {
display: none;
}

.rondRose3 {
display: none;
}

.boiteRose4 {
display: none;
}

.rondRose4 {
display: none;
}
 


}