/* residentes photos */

.lespoules {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 120px;
    flex-wrap: wrap;
    position: relative;
}

.lespoules2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
}

.coq1 {
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    padding-bottom: 200px;
}

.poules__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: whitesmoke ;
    border: 5px solid var(--second-color);
    margin: 1rem;
    width: 30%;
    height: 470px;
    align-items: center;
    border-radius: 50%;
/*     font-weight: bold;
 *//*     #f7eed6 */
}

.poule__contenu {
    padding: 1rem;
}

.flipChicken {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.flipChicken:hover {
  transform: rotateY(180deg);
}

.poulettes {
    width: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
}

.derriere {
  position: absolute;
  top: 50%;
  left: 20%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.poule__desc {
  display: none;
  padding: 1rem;
}

.poules__popup-container {
  position: fixed;
  width: 350px;
  height: 500px;
  background-color: var(--primary-color);
  right: 0;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-bottom: 15px;
  border-radius: 5%;
  display: none;
}

.poules__popup-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.poules__popup-message {
  border: 2px solid var(--third-color);
  width: 80%;
  height: 80%;
  background-color: white;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  padding: 0.5rem;
  overflow-y: scroll;

}

.poules__popup-message > p:nth-child(2n+1){
  padding: 5px;
  text-align: left;
}

.poules__popup-message> p:nth-child(2n){
  text-align: right;
}

.poules__popup-close {
  padding: 0.5rem;
}

.poules__popup-text {
  display: flex;
  flex-direction: column;

}

.inputChatPoules {

width: 100%;
height: 30px;
padding: 5px;
border-radius: 5%;
position:sticky;
top:0;


}

.btnFermerChat {

  height: 50px;

}

.poulettesMobile {

  display: none;
}

.derriereMobile {

  display: none;
}

.poule__contenuMobile {display: none;}

@media screen and (max-width: 650px) { 
    .poules__container{
      display: flex;
      width: 100%;
      float: right;
      max-height: 300px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin: 0px;

    }
  
    .poulettes {
      width: 50%;
    }
  
    .poule__desc {
      display: block;
    }
  
    .btn  {
      display: none;
    }

    .poule__desc{

      display: none;
    }

    .flipChicken {

      display: none;
    }

    .poulettesMobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 75%;
      border-radius: 50%;
    }

    .lespoules {

      padding-top: 20px;

    }

    .poules__container {

      border: none;
      background-color: transparent;

    }

    .derriereMobile {

      display: flex;
    }
    .poule__contenu {
      display: none;
    }
    .poule__contenuMobile {
      display: flex;
      font-weight: bold;
    }

  }
  
  @media screen and (min-width: 801px) and (max-width: 1200px) {
    .poules__container {
      width: 45%;
    }
  }


  @media screen and (min-width: 651px) and (max-width: 800px) {
    .poules__container {
      width: 75%;
    }
  }
