h4 {
	width: unset;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
		margin-top: 45px;
    margin-bottom: 45px;
}

.menu2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.slider {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
	
.name-food { 
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
}

.slideshow {
	grid-area: 2 / 1 / 3 / 2;
}

.petitpoints {
	grid-area: 3 / 1 / 4 / 2;
}

.name-drink { 
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
}

.slideshow2 {
	grid-area: 2 / 1 / 3 / 2;
}

.petitscercles {
	grid-area: 3 / 1 / 4 / 2;
	justify-self: center;
}

.mySlides span, .mySlides-2 span {
	background:rgba(0,0,0,0.7);
	height:30px;
	display: flex;
	justify-content: center;
	color:white;
	position:relative;
	bottom:0;
	right:0;
	left:0;
	text-align: center;
}

/* Slider Section */
/* Slideshow container */
.slideshow, .slideshow2 {
	display: flex;
	flex-direction: row;
  justify-content: center;
  width: 90%;
	margin: auto;
	margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  justify-content: center;
}

.mySlides img, .mySlides-2 img{
  /*margin: 20px;*/
  display: flex;
	justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
	height: auto;
}

.mySlides-2 {
  display: none;
  justify-content: center;
}

/* The dots/bullets/indicators */
.dot, .dot-2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--third-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active, .dot:hover, .dot-2:hover {
  transition-duration: 2s;
  background-color: var(--primary-color);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (min-width: 748px) and (max-width: 1180px){
	.general {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.slider {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		width: 748px;
	}

	.name-food {
		grid-area: 1 / 1 / 2 / 2;
	}

	.slideshow {
		grid-area: 2 / 1 / 3 / 2;
	}

	.petitpoints {
		grid-area: 3 / 1 / 4 / 2;
		margin-bottom: 20px;
	}
	
	.name-drink {
		grid-area: 1 / 1 / 2 / 2;
	}

	.slideshow2 {
		grid-area: 2 / 1 / 3 / 2;
	}

	.petitscercles {
		grid-area: 3 / 1 / 4 / 2;
		margin-bottom: 20px;
		justify-self: center;
	}	
}

@media screen and (min-width: 1181px) { 
	.general {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.slider {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		width: 1180px;
		justify-content: center;
	}
	
	.name-food { 
		grid-area: 1 / 1 / 3 / 2; 
		text-align: center;
		align-self: center;
	}

	.name-drink { 
		grid-area: 1 / 2 / 3 / 3; 
		text-align: center;
		align-self: center;
	}

	.slideshow { 
		grid-area: 1 / 2 / 2 / 3; 
		width: 758px;
		margin-bottom: 10px;
		margin-left: 1px;
		margin-right: 1px;
	}

	.slideshow2 { 
		grid-area: 1 / 1 / 2 / 2;
		width: 758px;
		margin-bottom: 10px; 
	}

	.petitpoints { 
		grid-area: 2 / 2 / 3 / 3;
		margin-bottom: 10px;
		margin-left: 1px;
		margin-right: 1px;
	}

	.petitscercles {
		grid-area: 2 / 1 / 3 / 2; 
		justify-self: center;
		margin-bottom: 10px;
	} 
}