.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
		margin-top: 45px;
    margin-bottom: 45px;
}

.menu2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.mySlides span, .mySlides-2 span {
	background:rgba(0,0,0,0.7);
	height:30px;
	display: flex;
	justify-content: center;
	color:white;
	position:relative;
	bottom:0;
	right:0;
	left:0;
	text-align: center;
}

/* Slider Section */
/* Slideshow container */
.slideshow, .slideshow-2 {
	display: flex;
	flex-direction: row;
  justify-content: center;
  width: 90%;
	margin: auto;
	margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  justify-content: center;
}

.mySlides img, .mySlides-2 img{
  /*margin: 20px;*/
  display: flex;
	justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
	height: auto;
}

.mySlides-2 {
  display: none;
  justify-content: center;
}

/* The dots/bullets/indicators */
.dot, .dot-2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot-2:hover {
  transition-duration: 2s;
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (min-width: 831px)
{
	.slideshow, .slideshow-2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 758px;
		margin: auto;
		margin-bottom: 20px;
	}
	.mySlides img, .mySlides-2 img{
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		width: 748px;
		height: auto;
	}
}