@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Outfit:wght@400;600&display=swap');

:root {
    --primary-color : #F2DA5E;
    --second-color : #F2C2C2;
    --third-color : #3D44D9;
    --font-titre : 'Outfit', sans-serif, 600;
    --font-content : 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

a:visited {color: var(--third-color);}

body {
  margin:0;
  font-family: var(--font-content);   
}

header {
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--second-color);
  font-family: var(--font-titre);
  font-size: 18px;
  position: sticky;
  top: 0;
  transition:0.2s;
}

ul li {
  padding: 0;
  list-style: none;
}


/* 80 vw */
.partgoodies, .partoeufs, .partpoules, h5, #contact, .lespoules {
  width: 80vw;
  margin: auto; 
}

/* FONT ET TEXT*/
a {
  font-family: var(--font-titre); 
  position: relative;
  text-transform: uppercase;
}

.link::after {
  content: '';
  display: block;
  width: 100%;
  height: 0px;
  background: var(--second-color);
  transition:.3s ease;
  position: absolute;
  top: 10px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.link:hover::after {
  height: 10px;
  position: absolute;
  top: 14px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}


p {font-size: 1em; line-height: 1.5;}

h1 { 
  font-family: var(--font-titre);
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--second-color);
  text-align: center;
}

h1 > span{
    font-size: smaller;
    font-weight: lighter;
}

h2 {
  font-family: var(--font-titre);
  color: var(--third-color);
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-family: var(--font-titre);
  color: var(--second-color);
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.btn {
  border-radius: 25px;
  padding: 10px;
  border: solid 1px var(--third-color);
  background: var(--third-color);
  color: rgb(235, 235, 235);
  font: var(--font-titre);
  font-size: 80%;
  width: 150px;
}

.btn:active {
  background-color: var(--second-color);
  border:var(--third-color) solid 3px;
}

/* MENU NAVIGATION */
 header {
  z-index: 1000000000;
}

#menuDesktop {      
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menuDesktopSize {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-align: center;
  padding: 0;
  transition: 0.2s;
}

#menuMobile {display: none;}
.menuDeroulant {display: none;}

.logo {
  width: 65px;
  transition: 0.2s;
  margin-top: 10px
}

/* MENU MOBILE */
.b1 { 
  margin: 10px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 40%;
  background: none;
  transform: translateY(-50%);
}

.rondJaune {
  position: absolute;
  left: -150px;
  z-index: -1;
}

.container-lignes {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.ligne {
  position: absolute;
  border-radius: 10px;
  width: 40px;
  height: 5px;
  background:var(--third-color);
}

.ligne:nth-child(1) {
  top: 0px;
}

.ligne:nth-child(2) {
  top: 15px;
}

.ligne:nth-child(3) {
  top: 30px;
}

.b1 .ligne:nth-child(1), .ligne:nth-child(3){
  transform: rotate(0deg);
  transition:   
  transform 0.2s ease-in-out,
  top 0.2s 0.2s ease-in-out;
}

.b1 .ligne:nth-child(2) {
  transition: opacity 0.2s 0.2s ease-in-out;
} 

.b1.active .ligne:nth-child(1){
  top: 15px;
  transform: rotate(45deg);
  transition:   
  top 0.2s  ease-in-out,
  transform 0.2s 0.2s ease-in-out;
}

.b1.active .ligne:nth-child(2){
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.b1.active .ligne:nth-child(3){
  top: 15px;
  transform: rotate(-45deg);
  transition:   
  top 0.2s  ease-in-out,
  transform 0.2s 0.2s ease-in-out;
}

@media screen and (max-width: 650px) { 
  /* residentes */
  .poules__container{
    width: 100%;
    float: right;
    height: 275px;
    flex-direction: row-reverse;
    padding: 0.3rem;
    margin: 0.3rem;
    justify-content: flex-start;
  }

  .poules__container:nth-child(2n) {
    flex-direction: row;
  }

  .poulettes {
    width: 50%;
  }

  .poule__desc {
    display: block;
  }

  /* Parrainages */  
  /* MENU */
  
  #menuDesktop {display: none;}

  #menuMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background: var(--primary-color);
    border-bottom:2px solid var(--second-color) ;
  }

  #menuMobile ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  #menuMobile .logo {margin-top: 10px; text-align: center;}
  header {height: 100px;}   

  .menuDeroulant {
    background-color: var(--primary-color); 
    width: 100vw; 
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.4s ease-in;
    z-index: -2;
  }

  .deroule {
    transform: translateY(0%);
  }

  .menuDeroulant ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
}

footer {
    background-color: var(--primary-color);
    color: var(--third-color); 
    width: 100%;
    bottom: 0;
    padding: 10px;
    border-top: 5px solid;
    border-color: var(--second-color );
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    }

.containerFooter {
  display: grid; 
  font-size: small;
  grid-template-columns: 1fr 5px 1fr 5px 1fr;
  justify-content: space-evenly;
  align-items: center;
}

.linkFooter {
  text-transform: none;
}

.trait{
    width: 0%;
    border-left: solid 2px;
    border-color: var(--second-color);
    height: 80%;
    align-self: center;
    padding: 0;
}
.footerLeft {
  grid-area: 1;
}

footer > div, p {
    padding: 5px;
}
.maj{
    text-transform: uppercase;
}
span.maj{
    font-weight: bold; 
}
.societe{
    text-align: center;
}
.soc { text-align: right;}

.animaPoule {position: absolute; width: 100px;
  height: 80px;
  left: 66.2%;
  overflow: hidden;
}

.animaPoule img {width:100%;}
.pouleHello {
  position: relative; 
  left: -100px;
  animation: slideLeft 14s 2s infinite;
}

@keyframes slideLeft {
  from {
   left: -100px;
  }

  4% { 
    left: -20px;
  }

  10% {
    left: -100px;
  }

  to {
    left: -100px;
  }
}

@media screen and (max-width: 650px) {
    footer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .containerFooter {
      display: flex;
      flex-direction: column-reverse;

    }

    .soc{
      text-align: center; 
      padding-bottom: 15px;
    }
    
    .societe{
        padding: 15px;
        width: 100%;
    }

    .footerLeft {
      padding-top: 15px;
    }

    .trait{
        border-top: solid 3px;
        border-left: none;
        border-color: var(--second-color);
        width: 70%;
        height: 0;
    }

    .animaPoule {left: 0;}
}

@media screen and (min-width: 651px) and (max-width: 1080px) {
  .poules__container {
    width: 45%;
  }
}

/* Dark Mode*/
.darkMode {
  position: absolute;
  top: 150px; 
  right: 10px; 
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  background-color: #1E1F33;
  color: #F2DA5E;
  border: 1px solid #1E1F33;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer; 
}

body.dark {
  color: #DDDDDD; 
  background: #1E1F33; 
} 

body.dark .darkMode {
  background-color: #F2DA5E;
  border: 1px solid #F2DA5E;
  color: #3D44D9;
}

body.dark h2 {
  color: #F2C2C2; 
}

body.dark .philo>* {
  color: #3D44D9; 
}

body.dark .rondJaune>img {
  opacity: 80%;
}

body.dark header {
  background-color:  #1E1F33;
  border-bottom: 5px solid #3D44D9;
}

body.dark ul a {
  color: #F2DA5E; 
}

body.dark footer, body.dark .menuDeroulant, body.dark #menuMobile{
  background-color: #1E1F33;
  color: #F2DA5E; 
}