@import url('https://fonts.googleapis.com/css2?family=Lato&family=Outfit:wght@600&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root{ 
    --primary-color: #F2DA5E ; 
    --secondary-color: #F2C2C2; 
    --third-color: #3D44D9;
   
    --font-titre: 'Outfit', sans-serif, 600; 
    --font-content: 'Lato', sans-serif;
    ; 
}


body{
    font-family: var(--font-content);
}



.bene{
    display: flex;
    flex-direction: column ;
}

/* //////////////// QUI NOUS SOMMES ////////////////// */
/* general */
section{
    margin-top: 20px;
    height: 500px; 
}

h2{
    font-family: var(--font-titre);
    color: var(--third-color);
    padding: 20px 0 20px 0;
    text-align: center;
}

p{
    line-height: 1.5; 
}

/* philosophie */
.philo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding : 20px;  
}
.philo > p {
    width: 350px;
}

.philo > img {
    animation: roundpink 5s ease 0s infinite normal none;
    z-index: 0; 
    position: absolute; 
}
@keyframes roundpink {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }
.philo > h2, p {
    z-index: 2;
}

/* mettez-vous au vert */
.green {
    border: solid 20px;
    border-color: var(--third-color);
    text-align: center; 
    padding : 20px;
    overflow: scroll; 
}
.green > p{
    text-align: justify;
    padding-bottom: 10px;
}

/* activités */
article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    align-items: center;
    justify-items: center;
    padding-top: 20px;
    }
    
    .farmer { grid-area: 1 / 1 / 2 / 2; }
    .chicken { grid-area: 1 / 2 / 2 / 3; }
    .heart { grid-area: 2 / 1 / 3 / 3; }
    .bar { grid-area: 3 / 1 / 4 / 2; }
    .shop { grid-area: 3 / 2 / 4 / 3; }
article > div {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
article > div {
    transition: transform .1s;  
}
article > div:hover{
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    }
article img {
    padding: 20px; 
}
/* //////////////// FIN QUI NOUS SOMMES ////////////////// */

/* MEDIA QUERIES QUI NOUS SOMMES */
@media screen and (min-width: 651px) {
    .bene {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .philo { grid-area: 1 / 1 / 2 / 2; 
             border: solid 20px;
             border-color: var(--secondary-color)
            }
    .green { grid-area: 1 / 2 / 2 / 3; }
    .farm { grid-area: 2 / 1 / 3 / 3;
            height: 350px;
            margin: 50px 0;
    }

    article {
        display: flex; 
        justify-content: space-around;
        flex-flow: row wrap; 
    }
     
}
/* FIN MEDIA QUERIES QUI NOUS SOMMES */   
